<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue交互</title>
    <style>
        .gray{
            background-color: gray;
        }
    </style>
    <script src="../vue.js" ></script>
    <script src="../js/vue-resource.js"></script>
    <script>
        window.onload=function () {
            new Vue({
                el:'#app',
                data:{
                    myData:[],
                    keyword:'',
                    now:-1
                },
                methods:{
                    get:function (event) {
                        if(event.keyCode==38||event.keyCode==40)return;
                        if(event.keyCode==13){
                            window.open('https://www.baidu.com/s?wd='+this.keyword);
                            this.keyword=''
                        }
                        this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                            wd:this.keyword
                        },{
                            jsonp:'cb'
                        }).then(function (res) {
                            this.myData=res.data.s;
                        },function () {
                            
                        });
                    },
                    selectDown:function () {
                        this.now++;
                        if(this.now==this.myData.length){
                            this.now=-1;
                        }
                        this.keyword=this.myData[this.now]
                    },
                    selectUp:function () {
                        this.now--;
                        if(this.now==-2)this.now=this.myData.length-1;
                        this.keyword=this.myData[this.now]
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div id="app" >
        <input type="text" v-model="keyword" @keyup="get($event)" @keydown.down="selectDown" @keydown.up.prevent="selectUp">
        <ul>
            <li v-for="(value,index) in myData" :class="{gray:index==now}">{{value}}</li>
        </ul>
        <p v-show="myData.length==0">暂无数据、、、</p>
    </div>
</body>
</html>