<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue常用指令</title>
</head>
<body>
v-if指令
v-show指令
v-else指令
v-for指令
v-bind指令
v-on指令

<div id="app">
    <h1>Vue.js常见指令</h1>
    <h1 v-if="yes">Yes!</h1>
    <h1 v-if="no">No!</h1>
    <h1 v-if="age>=20">我的年龄：{{age}}</h1>
    <h1 v-if="name.indexOf('qiang')>=0">我的名字:{{name}}</h1>
</div>

<script src="vue.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            yes:true,
            no:false,
            name:'yanqiang',
            age:23
        }
    })
</script>
</body>
</html>